body{
    background-color: rgb(179, 121, 241);
    margin: 0;
    overflow: hidden;
}

.navbar{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}

.link{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.link:hover{
    color: black;
    
}

.container {
    margin-top: 100px;
    margin-left: 120px;
    font-size: 30px;
}

.color{
    color: red;
}

.btn{
    margin-left: 120px;
    height: 50px;
    width: 90px;
    border-radius: 10%;
    color: white;
    background-color: red;
}

.boot{
    background-image: url("https://images.unsplash.com/photo-1580300613824-7545d8226323?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGFmcmljYW4lMjBnaXJsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;

}

.details{
    
    margin-top: 200px;
    
}

.fa {  
    padding: 30px;  
    text-align: center;  
    margin: 5px 2px;  
    font-size: 30px;  
    width: 50px;  
  }  
  .fa-facebook {  
    background: #3B5998;  
    color: white;  
  }  
  .fa-twitter {  
    background: #55ACEE;  
    color: white;  
  }  
  
  .fa-linkedin {  
    background: #007bb5;  
    color: white;  
  }  
  .fa-instagram {  
    background: #125688;  
    color: white;  
  }  
   
  .fa-google {  
    background: #dd4b39;  
    color: white;  
  }  
  .fa-snapchat-ghost {  
    background: #fffc00;  
    color: white;  
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
  }  
 
  .fa:hover {  
      opacity: 0.9;  
  } 
  
  .last{
      margin-top: 100px;
    justify-content: center;
    font-size: 30px;
  }

@media(max-width:600px){
    body{
        background-repeat: no-repeat;
    }
    .navbar{
        height: fit-content;
    }
    body{
        flex-direction: column;
    }
    .container{
       font-size: 10px;
    }
    .link{
        font-size: 10px;
    }
    
}

